# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\作业\java\life-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
